{% extends 'base/base.html' %}
{% load static %}

{% block tittle %}
Index
{% endblock %}

{% block contenido %}
<div class="container-fluid">
    <div class="row">
        <!-- Menú de navegación -->
        <div class="col-12 col-md-2 bg-light border-end vh-100 position-fixed start-0">
            <div>
                <nav class="nav flex-column p-3">
                    <p><u>MENU DE NAVEGACION</u> </p>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                        <a class="nav-link" href="{% url 'productos_list' %}">Ver Lista de Productos</a>
                        <a class="nav-link" href="{% url 'categoriasData' %}">Ver lista de Categorias</a>
                        {% else %}
                        <a class="nav-link" href="{% url 'productos_list' %}">Ver listado de productos</a>
                        <a class="nav-link" href="#">Ver nuestros servicios</a>
                        {% endif %}
                    {% endif %}
                </nav>
            </div>
        </div>
        <!-- Contenido principal -->
        <div class="col-12 col-md-10 offset-md-2">
            <!-- Botón de inicio de sesión -->
            <div class="container-fluid p-3 d-flex justify-content-between align-items-center">
                <div>
                    {% if user.is_authenticated %}
                        <h6 class="mb-0">Bienvenido, <u>{{ user.username }}</u> </h6>
                    {% else %}
                        <h6 class="mb-0">Bienvenido, No estás autenticado</h6>
                    {% endif %}
                </div>
                <div>
                    {% if user.is_authenticated %}
                    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Cerrar Sesion
                      </button>
                        
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-outline-success btn-sm">Iniciar Sesión</a>
                    {% endif %}
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Un momento...</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    Estas seguro que deseas salir?
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Cerrar Sesion</button>
                      </form>
                    </div>
                </div>
                </div>
            </div>


            
            <!-- Presentación de la veterinaria -->
            <div class="container mt-5">
                <div class="bg-light p-5 rounded-lg text-center">
                    <h1 class="display-4">Bienvenido a la Veterinaria M&B <img src="{% static 'img/animals.jpg' %}" height="150px" width="150px" alt=""></h1>
                </div>
            </div>

            <!-- Información y botones -->
            <div class="container text-center mt-5">
                <p class="lead">En Veterinaria M&B, ofrecemos una amplia gama de servicios para asegurar la salud y el bienestar de tus mascotas. Desde consultas y vacunas hasta cirugías y cuidados especiales, estamos aquí para ayudarte.</p>
            </div>

            <!-- Servicios -->
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-md-6 mb-4">
                        <div class="bg-light p-4 rounded-lg text-center">
                            <h3>Servicios de Hospitalización</h3>
                            <p>Cuida de tus mascotas con nuestros servicios de hospitalización.</p>
                            <img src="{% static 'img/hospitalizacion.jpg' %}" height="150px" width="200px" alt="hospitalizacion">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4">
                        <div class="bg-light p-4 rounded-lg text-center">
                            <h3>Productos para tus Mascotas</h3>
                            <p>Encuentra productos de calidad para el bienestar de tus mascotas.</p>
                            <img src="{% static 'img/productos.png' %}" height="150px" width="200px" alt="productos">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4">
                        <div class="bg-light p-4 rounded-lg text-center">
                            <h3>Desparacitación</h3>
                            <p>Manten a tus mascotas libres de parásitos con nuestro servicio de desparacitación.</p>
                            <img src="{% static 'img/desparacitacion.jpg' %}" height="150px" width="250px" alt="desparacitacion">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4">
                        <div class="bg-light p-4 rounded-lg text-center">
                            <h3>Emergencias</h3>
                            <p>Atendemos emergencias veterinarias las 24 horas, los 7 días de la semana.</p>
                            <img src="{% static 'img/emergencias.jpg' %}" height="150px" width="250px" alt="emergencias">
                        </div>
                    </div>
                    <div class="col-12 col-md-12 mb-4">
                        <div class="bg-light p-4 rounded-lg text-center">
                            <h3>Agendar</h3>
                            <p>Agenda tus citas de manera rápida y sencilla.</p>
                            <img src="{% static 'img/calendario.png' %}" height="120px" width="150px" alt="agendar">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie de página -->
            <footer class="footer mt-5 py-3 bg-light text-center">
                <div class="container">
                    <p class="mb-1">2024 Veterinaria M&B. Todos los derechos reservados.</p>
                </div>
            </footer>
        </div>
    </div>
</div>
{% endblock %}
