{% extends 'base/basedatabase.html' %}
{% block tittle %}
Categorias M&B
{% endblock %}
{% load static %}
{% block contenido %}
    <div class="container">
        <div class="alert alert-light display-1 text-center my-5">Categorias M&B <img src="{% static 'img/animals.jpg' %}" height="150px" width="150px" alt=""></div>

        <a href="{% url 'categoriasRegistro' %}" class="btn btn-outline-danger btn-sm mb-5">Registrar Categorias</a>
        <a href="{% url 'home' %}" class="btn btn-outline-danger btn-sm mb-5">Volver al menu Principal</a>

        <div>
            <table id="tabla1" class="table table-striped" style="width:100%">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if categorias %} 
                    {% for cat in categorias %}
                    <tr class="table-light">
                        <th scope="row">{{cat.id}}</th>
                        <td>{{cat.nombre}}</td>
                        <td>
                            <a href="{% url 'editarCategoria' cat.id %}" class="btn btn-warning btn-sm">Editar</a>
                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{cat.id}}">Eliminar</button>
                        </td>
                    </tr>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{cat.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmacion</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿Está seguro de eliminar el producto {{cat.id}}-{{cat.nombre}}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <a href="{% url 'eliminarCategoria' cat.id %}" type="button" class="btn btn-danger">Confirmar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="7" class="text-center">No hay categorias</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
